body{
    background-color: lightgray;
}
.rel{
    display: flex;
    grid-column: auto;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color:grey;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(143, 130, 130, 0.2);
}
.temp{
    color: #fff;
    font-size: 2rem;
}
.container{
    text-align: center;
}
button{
    height: 2.5em;
    width: 5.5em;
    border: none; 
    color: white;
}
button:hover{
    cursor: pointer;
}

.start{
    background-color: green;
}
.pause{
    background-color: grey;
}
.stop{
    background-color: red;
}



